.freeShipping {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 13vh;
}

.freeShipping > p {
  font-size: 13px;
  font-weight: bolder;
  margin-right: 20px;
}
.freeShipping > span {
  font-size: 11px;
  margin-left: 10x;
}
